{{define "title"}}Sign up{{end}}
{{define "content"}}
  <h1 class='profile-title'>Create an account</h1>

  <form action="/signup" method="post">
    <div class="form-field">
      <label for="email">E-mail address</label>
      <p>
        <input type="text" name="email" />
      </p>
    </div>

    <div class="form-field">
      <label for="password">Password</label>
      <p>
        <input type="password" name="password" />
      </p>
    </div>

    <div class="form-field form-submit">
      <div>
        <button type="submit">Create profile</button>
        or <a href="/session/new">login</a>
      </div>
    </div>
  </form>
{{end}}
